
<div class="search-div">
 
      <button  (click)="onCreate()">
        <mat-icon>add</mat-icon>Create
      </button>
      <mat-form-field   floatLabel="never">
        <input matInput [(ngModel)]="searchKey" placeholder="Search FileName" autocomplete="off" (keyup)="applyFilter()">
        <button mat-button matSuffix mat-icon-button aria-label="Clear"*ngIf="searchKey"  (click)="onSearchClear()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" width="100%">
      
          <!-- ID Column -->
          <ng-container matColumnDef="AssetGuid">
            <th mat-header-cell *matHeaderCellDef > Asset Guid </th>
            <td mat-cell *matCellDef="let row"> {{row.AssetGuid}} </td>
          </ng-container>
      
          <!-- Progress Column -->
          <ng-container matColumnDef="FileName">
            <th mat-header-cell *matHeaderCellDef  > FileName </th>
            <td mat-cell *matCellDef="let row"> {{row.FileName}} </td>
          </ng-container>
      
          <!-- Name Column -->
          <ng-container matColumnDef="MimeType">
            <th mat-header-cell *matHeaderCellDef  > MimeType </th>
            <td mat-cell *matCellDef="let row"> {{row.MimeType}} </td>
          </ng-container>
      
          <!-- Color Column -->
          <ng-container matColumnDef="CreatedBy">
            <th mat-header-cell *matHeaderCellDef  > CreatedBy </th>
            <td mat-cell *matCellDef="let row"  > {{row.CreatedBy}} </td>
          </ng-container>

           <!-- Color Column -->
           <ng-container matColumnDef="Email">
              <th mat-header-cell *matHeaderCellDef  > Email </th>
              <td mat-cell *matCellDef="let row"  > {{row.Email}} </td>
            </ng-container>

             <!-- Color Column -->
          <ng-container matColumnDef="Country">
              <th mat-header-cell *matHeaderCellDef  > Country </th>
              <td mat-cell *matCellDef="let row"  > {{row.Country}} </td>
            </ng-container>
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let row">
                <button mat-icon-button (click)="onEdit(row)" ><mat-icon>edit</mat-icon></button>
                <button mat-icon-button color="warn" (click)="onDelete(row.AssetId)"><mat-icon>delete_outline</mat-icon></button>
              </td>
            </ng-container>
          <ng-container matColumnDef="loading">
            <mat-footer-cell *matFooterCellDef colspan="6">
              Loading data...
            </mat-footer-cell>
          </ng-container>
          <ng-container matColumnDef="noData">
            <mat-footer-cell *matFooterCellDef colspan="6">
              No data.
            </mat-footer-cell>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"> </tr>

        </table>
      
        <mat-paginator [pageSizeOptions]="[25,50, 100]" (page)="pageEvent = handlePage($event)"
        [pageSize]="25" showFirstLastButtons></mat-paginator>
      </div>
  </div>