<mat-toolbar>
  <span>{{assetService.form.controls['AssetId'].value > 0 ?"Modify Asset":"New Asset"}}</span>
  <span class="fill-remaining-space"></span>
  <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
</mat-toolbar>
<form [formGroup]="assetService.form" class="normal-form" (submit)="onSubmit()">
  <mat-grid-list cols="2" rowHeight="300px">
    <mat-grid-tile>
      <div class="controles-container">
        <input type="hidden" formControlName="AssetId">
        <mat-form-field>
          <input formControlName="AssetGuid"   matInput placeholder="Asset Id*"  readonly>
          <mat-error>This field is mandatory.</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input formControlName="FileName" matInput placeholder="File Name*">
          <mat-error>This field is mandatory.</mat-error>
        </mat-form-field>



        <mat-form-field>
          <input formControlName="MimeType" matInput placeholder="Mime Type*">
          <mat-error>This field is mandatory.</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input formControlName="CreatedBy" matInput placeholder="Created By*">
          <mat-error>This field is mandatory.</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input formControlName="Email" matInput placeholder="Email">
          <mat-error>Invalid email address.</mat-error>
        </mat-form-field>

       
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="controles-container">
        <mat-form-field>
          <input formControlName="Country" matInput placeholder="Country*">
          <mat-error>This field is mandatory.</mat-error>
        </mat-form-field>


        <mat-form-field>
          <textarea  formControlName="Description" matInput placeholder="Description*" rows="4" cols="50"></textarea>
          <!-- <input formControlName="Description" matInput placeholder="Description*"> -->
          <mat-error>This field is mandatory.</mat-error>
        </mat-form-field> 
        <div class="button-row">
          <button mat-raised-button color="primary" type="submit" [disabled]="assetService.form.invalid">Submit</button>
          <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</form>